
/** IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
*/

/** CSS RESET */
:root{
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent-color:  hsl(277, 64%, 61%);

    --main-p-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
    --img-bg-violet: rgba(92, 1, 148, 0.584);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--main-bg-color);
    color: white;
    min-height: 100vh;
    font-weight: 400;
}

main{
    display: inherit;
    flex-direction: inherit;
    margin: 15%;
}

.img{
    background: url(./images/image-header-mobile.jpg);
    height: 220px;
    width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.img-overlay{
    background: var(--img-bg-violet);
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding: 1.5em;
    background-color: var(--card-bg-color);
    border-radius: 0 0 10px 10px;
}

.card-intro, .companies-data, .templates-data, .queries-data, .main-p{
    padding: .5em;
}

.card-intro, .main-p{
    font-family: 'Inter', sans-serif;
}


section h2, .companies-p, .templates-p, .queries-p{
    font-family: 'Lexend Deca', sans-serif; 
    text-transform: uppercase;
}

section .companies-p, .templates-p, .queries-p{
    /* padding: .5rem; */
    color: var(--stat-heading-color);
    letter-spacing: 1px;
}

section .main-p{
    color: var(--main-p-color);
    line-height: 25px;
}

.stats-section{
    line-height: 1.7;
}


/**----------footer design-----------*/
footer{
    padding: 1rem;
    position: sticky;
    top: 100%
}

footer p, a{
    font-family: 'Lexend Deca', sans-serif; ;
}
footer a{
    text-decoration: none;
    color: gray;
}


/***********************************************************/

/** !!! SPECIAL STYLES !!! */

/** style for the "10k+" word for design faithfulness*/
.companies-data-h2{
    text-transform: lowercase;
}

/** style for accent word in h1*/
.card-intro-highlight{
    color: var(--accent-color);
}

@media screen and (min-width: 620px)  {
    footer{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 850px){
    main{
        flex-direction: row-reverse;
    }
    .container{
        text-align: center;
        border-radius: 10px 0 0 10px;
        width: 470px;
        height: 390px;
        overflow:hidden;
        padding: 3em;
    }
    .main-p, .card-intro{
        text-align: left;
    }
    .main-p{
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .card-intro{
        font-size: 30px;
        padding-left: .5rem;
    }

    .img{
        background: url(./images/image-header-desktop.jpg);
        height: 390px;
        width: 475px;
        border-radius: 0 10px 10px 0;
        background-size: cover;
    }

    .stats-section{
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 5%;
        line-height: 1.7;
    }
}

