
/** IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
*/

/** CSS RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent-color:  hsl(277, 64%, 61%);

    --main-heading-stats-color: hsl(0, 0%, 100%);
    --main-p-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
    --img-bg-violet: rgba(114, 1, 184, 0.584);
}

body{
    background-color: var(--main-bg-color);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container{
    max-width: 375px;
    background-color: var(--card-bg-color);
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}


.image{
    background-image: url(./images/image-header-mobile.jpg);
    max-width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}   

.img-overlay{
    background-color: var(--img-bg-violet);
    width: 100%;
    height: 250px;
    overflow: hidden;
}


.card-content-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 5%;
}

.card-stats-container{
    display: inherit;
    flex-direction: inherit;
    gap: 2em;
    padding: 5%;
}



.companies-data, .templates-data, .queries-data {
    display: inherit;
    flex-direction: inherit;
    gap: .5em;
}

/** styling for data/stats section */


/** h1 style */
.card-intro{
    color: var(--main-heading-stats-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/** main paragraph style */
.container  .card-description{
    color: var(--main-p-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
}

/** h2 styles */
section h2{
    color: var(--main-heading-stats-color);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/** card stats styles */
section p{
    color: var(--stat-heading-color);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    letter-spacing: 1px;
}

.attribution{
    font-family: 'Inter', sans-serif;
    margin: 0.5em;
    
}

.attribution a{
    color: rgb(200, 200, 200);
    font-weight: bold;
    text-decoration: none;
}   

.attribution p{
    color: gray;
}

/***********************************************************/

/** !!! SPECIAL STYLES !!! */

/** style for the "10k+" word for design faithfulness*/
.companies-data-h2{
    text-transform: lowercase;
}

/** style for accent word in h1*/
.card-intro-highlight{
    color: var(--accent-color);
}


