
/** IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
*/

/** CSS RESET */
:root{
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent-color:  hsl(277, 64%, 61%);

    --main-p-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
    --img-bg-violet: rgba(92, 1, 148, 0.584);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--main-bg-color);
    color: white;
    min-height: 100vh;
    font-weight: 400;
}

main{
    display: inherit;
    flex-direction: inherit;
    margin: 15%;
}

.img{
    background: url(./images/image-header-mobile.jpg);
    height: 220px;
    width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.img-overlay{
    background: var(--img-bg-violet);
    height: 100%;
}

.container{
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: var(--card-bg-color);
    border-radius: 0 0 10px 10px;
}


.card-intro, .companies-data, .templates-data, .queries-data{
    padding: 1em;
}

.card-intro, .main-p{
    font-family: 'Inter', sans-serif;
}


section h2, .companies-p, .templates-p, .queries-p{
    font-family: 'Lexend Deca', sans-serif; 
    text-transform: uppercase;
}

section .companies-p, .templates-p, .queries-p{
    padding: .5rem;
    color: var(--stat-heading-color);
    letter-spacing: 1px;
}

section .main-p{
    padding-bottom: 2em;
    color: var(--main-p-color);
    line-height: 25px;
}


/***********************************************************/

/** !!! SPECIAL STYLES !!! */

/** style for the "10k+" word for design faithfulness*/
.companies-data-h2{
    text-transform: lowercase;
}

/** style for accent word in h1*/
.card-intro-highlight{
    color: var(--accent-color);
}


